<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Author : {{article.author}} 
  /
  User : {{request.user}} <br>
  <h1>{{article.title}}</h1>
  <p>{{article.content}}</p>
  <a href="{% url 'main:index' %}">홈으로</a>
  <a href="{% url 'article:edit' article.id %}">수정페이지</a>
  <a href="{% url 'article:destroy' article.id %}">삭제하기</a>
</body>
</html>